[MAIN]

# Add files or directories matching the regex patterns to the ignore-list. The
# regex matches against paths and can be in Posix or Windows format.
ignore-paths=docs/.*

# Pickle collected data for later comparisons.
persistent=yes

# Minimum supported python version
py-version = 3.8

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=
    pylint.extensions.docparams,
    pylint.extensions.check_elif,
    pylint.extensions.bad_builtin,
    pylint.extensions.for_any_all,
    pylint.extensions.set_membership,
    pylint.extensions.code_style,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.typing,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.comparison_placement,

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120